<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="books.scss">
    <title>show</title>
  </head>

  <body>

    <h1>Editing Book</h1>

    <% if @book.errors.any? %>
      <div class="error-message">
       <div class="error-title"><%= @book.errors.count %> errors prohibited this book from being saved:</div>
        <ul>
          <div class="error-list">
            <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </div>
        </ul>
      </div>
    <% end %>

    <%= form_with model: @book,url: update_list_path(@book.id),method: :patch do |f|  %>
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label :body %>
        <%= f.text_area :body %>
      </div>
      <div class="actions">
        <%= f.submit "Update Book" %>
      </div>
    <% end %>
    <%= link_to"Show",book_path(@book.id),class:"link" %> | <%= link_to"Back",books_path,class:"link" %>

  </body>
</html>